.book-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.book-details__img-container {
  width: 300px;
  height: 450px;
  background: gray;
  margin: 0 20px;
}

.book-details__img {
  width: 100%;
  height: 100%;
}
.book-details__info {
  width: calc(100% - 350px);
}

.book-details__info__edition {
  margin-bottom: 20px;
}
.info-span {
  display: block;
  font-size: 14px;
  color: gray;
}
