.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.book-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.book-list__item {
  list-style: none;
  width: 500px;
  height: auto;
  padding: 10px 15px;
  margin: 20px;
  box-shadow: 0 0 10px 0px rgba(184, 184, 184, 0.4);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.book-list__item__img-container {
  margin-top: 20px;
  width: 140px;
  height: 200px;
  background: gray;
}
.book-list__item__img {
  width: 100%;
  height: 100%;
}

.book-list__item__info {
  width: calc(100% - 170px);
  margin-bottom: 20px;
}

.book-list__item__info__description {
  font-size: 14px;
  height: 150px;
  overflow: hidden;
}
.book-list__item__info__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-btn {
  padding: 10px;
  background: none;
  border: 2px solid black;
  cursor: pointer;
  outline: none;
}
.add-btn:hover {
  border-color: #efc401;
}
.add-btn--active {
  border-color: #efc401;
}
.details-link {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.details-link:hover {
  text-decoration: underline;
  color: #efc401;
}
