.page-header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 2px -2px rgba(184, 184, 184, 0.6);
}
.page-header__navigation {
  display: flex;
  align-items: center;
}
.page-header__navigation-link {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  color: gray;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}
.active {
  border-bottom: 2px solid #efc401;
}
